form
    display: flex
    flex-direction: column

    label
        font-weight: var(--font-weight-4)
    
    .descIpt, .sum, .kindOf
        display: flex
        flex-direction: column
    
    .values
        display: flex

    #totalSum
        background-image: url("../../assets/value.svg")
        background-size: inherit
        background-position: right
        background-repeat: no-repeat