.transactionsNav
    width: 90%
    margin: 0 auto
    
    .listNav
        margin-bottom: 2vh

        h2
            font-weight: var(--font-weight-2)

    .btnNav 
        display: flex
        justify-content: space-between  

        button
            padding: 2vh 3vw

    ul
        display: flex
        flex-direction: column
        gap: 2vh