:root {
  --color-primary: #fd377e;
  --color-primary-2: #e34981;
  --color-secondary: #03b898;

  --color-grey-1: #f8f9fa;
  --color-grey-2: #e9ecef;
  --color-grey-3: #343a40;
  --color-grey-4: #212529;
  --color-grey-50: #868e96;
  --color-white: #ffffff;

  --font-weight-1: 900;
  --font-weight-2: 700;
  --font-weight-3: 600;
  --font-weight-4: 500;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-grey-2);
  }
  :root {
    --color-grey-1: #f8f9fa;
    --color-grey-2: #212529;
    --color-grey-3: #343a40;
    --color-grey-4: #e9ecef;
  }

  html[light] {
    --color-grey-1: #f8f9fa;
    --color-grey-2: #e9ecef;
    --color-grey-3: #343a40;
    --color-grey-4: #212529;
  }

  html[light] body {
    background-color: inherit;
  }
}

@media (prefers-color-scheme: light) {
  html[dark] {
    --color-grey-1: #f8f9fa;
    --color-grey-2: #212529;
    --color-grey-3: #343a40;
    --color-grey-4: #e9ecef;
  }

  html[dark] body {
    background-color: var(--color-grey-2);
  }
}
